# requirements to install with pip
jupyter

# add any requirements your notebook needs here and they will be installed
# when the container is built. You can generate these requirements from an
# existing python environment by running `pip freeze`.
